{% extends 'base/base.html'  %}
{% block content %}
{% include 'base/partials/_alerts.html' %}
{% load humanize %}
<div class="col-md-3 col-xs-12"><p>a</p></div>
<!-- main table -->
<div class="col-md-9 col-xs-12">
<table class="table table-hover table-bordered">
        <thead class="text-center m-b-color">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Gender</th>
            <th scope="col">Campaign</th>
            <th scope="col"><i class="far fa-plus-square mt-1" ></i></th>
          </tr>
        </thead>
        <tbody class="text-center m-b-color">
          <tr>
            {% if leads == Faild %}
            <tr>
                <th scope="row">1</th>
                <td>No Valid Data</td>
            </tr>
            {% else %}
                {% for lead in leads reversed %}
                    {% if lead.register_status == 'C' %}
            <tr class="bg-danger">
                    {% elif lead.register_status == 'K' %}
            <tr class="bg-success">
                    {% else %}
            <tr class="bg-primary">
                    {% endif %}
            <th scope="row">{{ lead.id }}</th>
            <td>{{ lead.name_and_family }}</td>
            <td>{{ lead.phone_number }}</td>
            {% if lead.gender == 'M' %}
            <td>Male</td>
            {% else %}
            <td>Female</td>
            {% endif %}
            <td>{{ lead.origin }}</td>
            <td>
                <a class="btn1" data-toggle="collapse" href="#multiCollapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <i class="fas fa-chevron-down" id="opencommends"></i>
                </a>
            </td>
            </tr>
            <div >
            <tr class="m-b-color collapse multi-collapse" id="multiCollapseExample{{ lead.id }}">
            <td colspan="2" class="text-left"><i class="far fa-arrow-alt-circle-right mr-1"></i> {{ lead.led_time|timesince }}</td>
            <td colspan="5">
            <div class="media">
                <div class="media-body text-left">
                    <h5 class="mt-1 text-justify">{{ lead.description }}</h5>
                </div>
            </div>
            </td>
            </tr>
            <tr class="m-b-color collapse multi-collapse" id="multiCollapseExample{{ lead.id }}">
            <td colspan="8">
            <form class="form-row ml-5 mr-5 mt-3">
                    <div class="form-group col-11">
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Comment </div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="what's new...">
                    </div>
                 </div>
                    <div class="form-group col-1">
                    <button class="btn1 mb-2" action="submit">Submit</button>
                    </div>
            </form>
            </td>
                {% if comments == Faild %}
                {% else %}
                    {% for comment in comments reversed %}
                        {% if comment.post == lead %}
            <tr class="m-b-color collapse multi-collapse table-light" id="multiCollapseExample{{ lead.id }}">
            <td colspan="5">
                <div class="media  my-navbar">
                    <div class="media-body text-left ml-4">
                        <p class="w-50 text-left "><i class="far fa-comment mr-1"></i>  {{ comment.created_date|timesince }} <p>
                        <h5 class="mt-1 ml-4">{{ comment.author }}</h5>
                        <p class="ml-5 text-justify">{{ comment.text }}</p>
                    </div>
                </div>
                
                
            </td>
            <td colspan="1">
                    <a class="btn btn-danger mt-3" href="#" aria-label="Delete">
                        <i class="fa fa-trash-alt fa-2x" aria-hidden="true"></i>
                    </a>
            </td>
            </tr>
            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>   

<!-- end of main table -->
{% endblock %}