{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">
        <script src="{% static 'base/js/main.js' %}"></script>

        <link rel="stylesheet" href="{% static 'leads/login/bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'leads/login/jquery/jquery.js' %}"></script>
        <script src="{% static 'leads/login/bootstrap/js/bootstrap.min.js' %}"></script>
        
        <title>{% block title %}Leads Counter{% endblock %}</title>
    </head>
    <body >
        {% if request.get_full_path == "/login" %}
        {% elif request.get_full_path == "/login/" %}
        {% else %}
        {% include 'base/partials/_header.html' %}
        {% endif %}
        <main role="main" class="m-color">
            {% block content %} {% endblock %}
        </main>
        {% include 'base/partials/_footer.html' %}          
    </body>
</html>