# -*- coding: utf-8 -*-
from __future__ import unicode_literals

# Course prices
ZARINPAL_API_LOW_LIMMIT = 10000
PREPAYMENT_COMMON_COURSE_PRICE = 200000
COMMON_COURSE_PRICE = 3500000
COMMON_COURSE_DISCOUNTED_PRICE = 3000000
DISCOUNT_ON_CASH_PAYMENT_AMOUNT = 100000
DISCOUNT_ON_SPECIAL_JOBS_AMOUNT = 200000

# Discount amount
DISCOUNT_OPERATORS_AMOUNT = 50000

# API codes
# sms
KAVENEGAR_API_KEY = ""
# payment
ZARINPAL_API_KEY = ""

# SMS status codes
KAVENEGAR_STATUS_CODES = {
    '200':'درخواست تایید شد',
    '400':'پارامترها ناقص هستند',
    '401':'حساب کاربری غیرفعال شده است',
    '402':'عملیات ناموفق بود',
    '403':'کد شناسائی API-Key معتبر نمی‌باشد',
    '404':'متد نامشخص است',
    '405':'متد Get/Post اشتباه است',
    '406':'پارامترهای اجباری خالی ارسال شده اند',
    '407':'دسترسی به اطلاعات مورد نظر برای شما امکان پذیر نیست',
    '409':'سرور قادر به پاسخگوئی نیست بعدا تلاش کنید',
    '411':'دریافت کننده نامعتبر است',
    '412':'ارسال کننده نامعتبر است',
    '413':'پیام خالی است و یا طول پیام بیش از حد مجاز می‌باشد. لاتین  ﻛﺎراﻛﺘﺮ و ﻓﺎرﺳﻲ 268 ﻛﺎراﻛﺘﺮ',
    '414':'حجم درخواست بیشتر از حد مجاز است ،ارسال پیامک :هر فراخوانی حداکثر 200 رکوردو کنترل وضعیت :هر فراخوانی 500 رکورد',
    '415':'اندیس شروع بزرگ تر از کل تعداد شماره های مورد نظر است',
    '416':'IP سرویس مبدا با تنظیمات مطابقت ندارد',
    '417':'تاریخ ارسال اشتباه است و فرمت آن صحیح نمی باشد.',
    '418':'اعتبار شما کافی نمی‌باشد',
    '419':'طول آرایه متن و گیرنده و فرستنده هم اندازه نیست',
    '420':'استفاده از لینک در متن پیام برای شما محدود شده است',
    '422':'داده ها به دلیل وجود کاراکتر نامناسب قابل پردازش نیست',
    '424':'الگوی مورد نظر پیدا نشد',
    '426':'استفاده از این متد نیازمند سرویس پیشرفته می‌باشد',
    '427':'استفاده از این خط نیازمند ایجاد سطح دسترسی می باشد',
    '428':'ارسال کد از طریق تماس تلفنی امکان پذیر نیست',
    '429':'IP محدود شده است',
    '431':'ساختار کد صحیح نمی‌باشد',
    '432':'پارامتر کد در متن پیام پیدا نشد',
    '451':'فراخوانی بیش از حد در بازه زمانی مشخص IP محدود شده',
    '501':'فقط امکان ارسال پیام تست به شماره صاحب حساب کاربری وجود دارد',
}
KAVENEGAR_STATUS_CHOICES = (
    ('0', 'بررسی نشده'),
    ('1', 'در صف ارسال قرار دارد'),
    ('2', 'زمان بندی شده (ارسال در تاریخ معین)'),
    ('4', 'ارسال شده به مخابرات'),
    ('5', 'ارسال شده به مخابرات'), 
    ('6', 'خطا در ارسال پیام که توسط سر شماره پیش می آید و به معنی عدم رسیدن پیامک می‌باشد'),
    ('10', 'رسیده به گیرنده'),
    ('11', 'نرسیده به گیرنده ، این وضعیت به دلایلی از جمله خاموش یا خارج از دسترس بودن گیرنده اتفاق می افتد'),
    ('13', 'ارسال پیام از سمت کاربر لغو شده یا در ارسال آن مشکلی پیش آمده که هزینه آن به حساب برگشت داده می‌شود'),
    ('14', 'بلاک شده است، عدم تمایل گیرنده به دریافت پیامک از خطوط تبلیغاتی که هزینه آن به حساب برگشت داده می‌شود'),
    ('100', 'شناسه پیامک نامعتبر است'),
)

# Zarinpall Errors
ZARINPAL_ERROR_CODES = {
    '-1':'اطلاعات ارسال شده ناقص است.',
    '-2':'و يا مرچنت كد پذيرنده صحيح نيست. IP',
    '-3':'با توجه به محدوديت هاي شاپرك امكان پرداخت با رقم درخواست شده ميسر نمي باشد.',
    '-4':'سطح تاييد پذيرنده پايين تر از سطح نقره اي است.',
    '-11':'درخواست مورد نظر يافت نشد.',
    '-12':'امكان ويرايش درخواست ميسر نمي باشد.',
    '-21':'هيچ نوع عمليات مالي براي اين تراكنش يافت نشد.',
    '-22':'تراكنش نا موفق ميباشد.',
    '-33':'رقم تراكنش با رقم پرداخت شده مطابقت ندارد.',
    '-34':'سقف تقسيم تراكنش از لحاظ تعداد يا رقم عبور نموده است',
    '-40':'اجازه دسترسي به متد مربوطه وجود ندارد.',
    '-41':'غيرمعتبر ميباشد. AdditionalData اطلاعات ارسال شده مربوط به',
    '-42':'مدت زمان معتبر طول عمر شناسه پرداخت بايد بين 30 دقيه تا 45 روز مي باشد.',
    '-54':'درخواست مورد نظر آرشيو شده است.',
    '100':'عمليات با موفقيت انجام گرديده است.',
    '101':'تراكنش انجام شده است. PaymentVerification عمليات پرداخت موفق بوده و قب',
}

# Landing phone numbers
LANDING_PHONE_NUMBER_CHOICES = [
    {
        'href': 'tel:+982188937172',
        'text':'۰۲۱-۸۸۹۳۷۱۷۲',
    },
    {
        'href': 'tel:+982166468181',
        'text': '۰۲۱-۶۶۴۶۸۱۸۱',
    },
]