{% extends 'base/base.html'  %}
{% load static %}
{% block content %}
    <div class="container">
        {% include 'base/partials/_alerts.html' %}
        <div class="row text-center col-12">

                <!-- form card login -->
                    <div class="card rounded-10 col-xs-12 col-sm-12 col-md-10 col-lg-6 p-0 mx-auto b-color" id="login-form">
                        <div class="card-header">
                            <h3 class="mb-0 login-text t-color">User Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                {% csrf_token %}
                                
                                <img class="img-jello img-fluid mx-auto mt-4 mb-5" src="{% static 'base/media/logo/1000X1000.png' %}" width="200" height="200">
                                <div class="input-group mb-3 floatContainer">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Username</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg rounded-2 col-11 mx-auto " aria-label="Username" aria-describedby="basic-addon1" id="id_username" name="username" required>
                                </div>
                                <div class="input-group mb-3 floatContainer">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Password</span>
                                    </div>
                                    <input type="password" class="form-control form-control-lg rounded-2 col-11 mx-auto" aria-label="password" aria-describedby="basic-addon1" id="id_password" name="password" required>
                                </div>
                                
                                <div class="text-center mt-1 mb-3">
                                    <div class="g-recaptcha" data-sitekey="6LdwM7kUAAAAAGBNUkZ-7h-k761ohru0bigD_OlO"></div>
                                </div>
                                <div class="col-12 ">
                                <a href="javascript:void('forgot-form-link');" class="forgot-form-link float-left ">Forgot Password</a>
                                <button type="submit" class="btn btn-lg float-right btn-outline-primary"> Login </button>
                                </div>
                                </form>
                        </div>
                    </div>
                <!-- /form card login end-->

                <!-- form card forgot -->
                <div class="card rounded-10 col-xs-12 col-sm-12 col-md-10 col-lg-6 p-0 mx-auto op-forget" id="forgot-form">
                    <div class="card-header">
                        <h3 class="mb-0 reset-text t-color">Reset Password</h3>
                    </div>
                    <div class="card-body">
                        <img class="img-jello img-fluid mx-auto mt-4 mb-5" src="{% static 'base/media/logo/1000X1000.png' %}" width="200" height="200">
                        <form class="form" role="form" autocomplete="off" id="" novalidate="" method="POST">
                        
                        <div class="input-group mb-3 floatContainer">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Email</span>
                            </div>
                            <input type="email" class="form-control form-control-lg rounded-2 col-11 mx-auto" aria-label="email" aria-describedby="basic-addon1" id="pwd1" autocomplete="new-password" required>
                        </div>
                        <p class="">Enter your email and we'll send you a link to get back into your account.</p>
                        <div class="text-center">
                            <div class="g-recaptcha " data-sitekey="6LdwM7kUAAAAAGBNUkZ-7h-k761ohru0bigD_OlO"></div>
                        </div>  
                        <div class="col-12 mt-1 mb-3">
                            <a href="javascript:void('login-form-link');" class="login-form-link float-left ">Login</a>
                            <button type="submit" class="btn btn-lg float-right btn-outline-primary" >Reset</button>
                        </div>
                        </form>
                    </div>
            </div>
                <!-- /form card forgot end -->
            </div>
        </div>
    </div>
    <script>
        $('.op-forget').hide()
    </script>
    <script src="{% static 'leads/login/js/function.js' %}" type="text/javascript"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endblock %}
