{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'leads/analysis/css/style.css' %}">
	<meta charset="utf-8">
	<title>پنل شمارش</title>
</head>
<body>
<header>
    <div class="headerbackground">
        <h2 class="titlebackground">پنل آمار</h2>
    </div>
</header>
    {% block content %} {% endblock %}
<footer>
        <section class="footerbackground">
            <nav class="menu1">
                <ul>
                    <li><a href="http://academymobileset.com" target="_blank">وب سایت اصلی</a></li>
                    <li><a href="#">ورود به پنل کاربری</a></li>
                    <li><a href="#">گزارش مشکل</a></li>
                    <li><a href="#">تماس با ما</a></li>
                </ul>
            </nav>
            <nav class="navleft">
                <h2 class="nav2">Developed By :Farda team</h2>
            </nav>
        </section>
</footer>
</body>
</html>