/*
 * Headers styles
**/

.site-header
  height 630px
  position relative
  background-size 100% 100%
  overflow hidden
  margin-bottom 30px
  &:before
    position absolute
    content ''
    width 200px
    height 130px
    background  url('../images/wavw.png') top right no-repeat
    top 22%
    right -5%
    @media(min-width:1600px)
      right 0


  .bg-header
    position absolute
    width 100%
    height 100%
    top 0
    clip-path url("#header_background")
    z-index -1000

    &:before
      content ''
      background-image linear-gradient(200deg, #300fb6 0%, #3d26d3 100%)
      position absolute
      width 100%
      height 100%
      top 0
      right 0
      z-index -1
      opacity 0.51

    &:after
      content ''
      background url('../images/970.jpg') no-repeat
      background-size cover
      background-attachment fixed
      width 100%
      height 100%
      position absolute
      top 0
      left 0
      z-index -2


  .head-item
    justify-content space-between
    align-items center
    position relative
    top 40px
    margin-bottom 100px

    .site-logo
      position relative
    
      +breakpoint-down('lg')
        max-width 155px

      +breakpoint-down('sm')
        max-width 203px
        margin 9px auto


    .left-top-header
      position relative
      +breakpoint-down('sm')
        flex 0 0 100%
        justify-content space-between

      .phone-number
        padding-left 40px
        display flex
        align-items center
        

        +breakpoint-down('lg')
          padding-left 10px

        span
          color #ffffff
          font-family yekan
          font-size 24px
          font-weight 400
          letter-spacing 0.7px
          margin-left 5px
          +breakpoint-down('lg')
            font-size 18px
          


        svg
          width 23px
          height 22px
          fill #ffffff

      .login-head
        color #ffffff
        font-size 17px
        font-weight 900
        height 38px
        border-radius 19px
        background-color #f32f77
        padding 0px 30px
        line-height 34px
        display inline-block
        vertical-align middle
        transform translateZ(0)
        box-shadow 0 0 1px rgba(0, 0, 0, 0)
        backface-visibility hidden
        -moz-osx-font-smoothing grayscale
        transition-duration 0.3s
        transition-property transform

        &:hover
          transform scale(1.1)
          background-color #e01660




       

        +breakpoint-down('lg')
          font-size 15px
          padding 0px 18px

  .header-body
    position relative
    +breakpoint-down('lg')
      flex-wrap nowrap

    .right-head-body
      position relative
      top 34px
      margin-left 111px
      +breakpoint-down('lg')
        flex 0 0 30%
        margin-left 0

      @media(min-width:1600px)
        margin-left 0

    .left-head-body
      position relative
      top 80px
      +breakpoint-down('lg')
        flex 0 0 70%

      +breakpoint-down('sm')
        flex 0 0 100%

      .mokaab1
        position absolute
        left -14%
        top -28%
        z-index 100
        +breakpoint-down('sm')
          left 15%

        svg
          max-width 150px
          max-height 100px


     

      h2
        color #ffffff
        font-size 34px
        line-height 55px
        font-weight 900
        font-family yekan
        +breakpoint-down('lg')
          font-size 24px
        
        +breakpoint-down('465px')
          font-size 17px

        @media(min-width:1600px)
          font-size 56px


        span
          color #ffcf24
          font-size 42px
          @media(min-width:1600px)
            font-size 80px
          +breakpoint-down('md')
            font-size 22px

      .text-head
        padding-right 90px
        margin-top 30px
        +breakpoint-down('sm')
          margin-top 0

        +breakpoint-down('md')
          padding-right 80px


      .bottom-txt , svg
        margin-right auto
        display table
        color #ffffff
        font-size 14px
        font-weight 300
        margin-top 20px
        +breakpoint-down('sm')
          margin-top 0
        
        +breakpoint-down('465px')
          font-size 12px
        
        @media(min-width:1600px)
          font-size 18px

      .line-icon
        width 50px
        height 15px
        margin-top 26px
        margin-left 60px
        @media(min-width:1600px)
          margin-top 23px
          margin-left 90px
