isans-font-family = fonts("'isans', Yekan, 'Open sans', sans-serif")
base-font-family = isans-font-family , Yekan-font-family
base-text-color = #373737
base-font-size = 12px
base-background-color = #fff
