{% load static %}
<footer id="footer2" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3 class="h5">
                        متخصصان فردا
                        <i id="discount-ans-b" class="fa fa-heart"></i>
                    </h3>
                    <ul>
                        <li>
                            <a href="https://academymobileset.com/home-en"><i
                                    class="fa fa-home link-home pl-2"></i>خانه</a>
                        </li>
                        <li>
                            <a href="https://academymobileset.com/notifications/experts.html">اطلاعیه‌ها</a>
                        </li>
                        <li>
                            <a href="https://academymobileset.com/test-scores/motekhasesan.html">نتایج آزمون</a>
                        </li>
                        <li>
                            <a href="https://academymobileset.com/about-us-2.html">درباره ما</a>
                        </li>
                        <li>
                            <a href="https://academymobileset.com/post-formats/courses.html">دوره های ما</a>
                        </li>
                        <li>
                            <a href="https://academymobileset.com/contact-us.html">تماس با ما</a>
                        </li>
                        <li>
                            <a rel="noreferrer" target="_blank"
                                href="{% static 'landing/files/ghavaninesiteacademymobileset.com990620.pdf' %}">قوانین و
                                مقررات</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3 class="h5">لینک های سریع</h3>
                    <ul>
                        <li><a href="#courseinfo">معرفی دوره</a></li>
                        <li><a href="#topics">سرفصل ها</a></li>
                        <li><a href="#payment">شرایط و هزینه ها</a></li>
                        <li><a href="#license-course">گواهی نامه</a></li>
                        <li><a href="#teachers">اساتید</a></li>
                        <li><a href="#albums">پشتیبانی پس از دوره</a></li>
                        <li><a href="#CQs">سوالات متداول</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3 class="h5">ثبت‌نام و مشاوره</h3>
                    <ul>
                        <li>
                            <a href="#nothing" data-toggle="modal" data-target="#exampleModal002">ثبت‌نام</a>
                        </li>
                        <li>
                            <a href="#nothing" class="go-to-consult-form" data-toggle="modal"
                                data-target="#exampleModal003">مشاوره رایگان</a>
                        </li>
                        <li>
                            <a href="#nothing" class="go-to-consult-form-1fs" data-toggle="modal"
                                data-target="#exampleModal003">یک
                                جلسه رایگان</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3 class="h5">نماد الکترونیکی</h3>
                    <p style="font-weight: 600">E-Namaad</p>
                </div>
            </div>
            <div class="col-lg-4 col-12 pl-4">
                <div class="single-footer-widget">
                    <h3 class="h5">تماس با ما</h3>
                    <ul>
                        <li class="mb-3 d-flex align-items-center border-bottom font-light-footer">
                            <div class="col-1 p-0 mb-2 text-center">
                                <i class="fa fa-map-marker text-red fa-2x"></i>
                            </div>
                            <div class="col-11 pl-0">
                                <div class="d-flex justify-content-between">
                                    <p class="text-nowrap pl-2">شعبه انقلاب:</p>
                                    <p class="mb-2 text-justify">
                                        خیابان انقلاب، رو به روی درب اصلی دانشگاه تهران، ابتدای
                                        خیابان فخر رازی، پلاک ۸۵، طبقه چهارم، واحد ۱۰
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="text-nowrap pl-2">شعبه ولیعصر:</p>
                                    <p class="mb-2 text-justify">
                                        بالاتر از میدان ولیعصر، جنب سینمای استقلال، پلاک ۱۷۰۶،
                                        طبقه سوم
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mb-1 d-flex align-items-center border-bottom font-light-footer">
                            <div class="col-1 p-0 mb-2 text-center">
                                <i class="fa fa-phone text-red fa-2x"></i>
                            </div>
                            <div class="col-11 pl-0">
                                <div class="d-flex justify-content-between">
                                    <p>شعبه انقلاب:</p>
                                    <p class="mb-2">۰۲۱-۶۶۴۱۷۰۷۳</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>شعبه ولیعصر:</p>
                                    <p class="mb-2">۰۲۱-۸۸۸۹۴۳۵۸</p>
                                </div>
                            </div>
                        </li>
                        <li class="mb-1 d-flex align-items-center font-light-footer py-3">
                            <div class="col-1 p-0 mb-2 text-center">
                                <i class="fa fa-envelope text-red fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col-11 pl-0">
                                <div class="d-flex justify-content-between">
                                    <p>ایمیل:</p>
                                    <p class="mb-2">academyfarda2@gmail.com</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom row align-items-center justify-content-between mb-5 mb-lg-0 ltr">
            <div class="col-md-6 col-12 footer-social">
                <a href="https://academymobileset.com/home-en"><i class="fa fa-home link-home fa-2x"></i></a>
                <a rel="noreferrer" target="_blank" href="https://t.me/experts_farda"><i
                        class="fa fa-telegram fa-2x"></i></a>
                <a rel="noreferrer" target="_blank" href="https://instagram.com/academy.farda"><i
                        class="fa fa-instagram fa-2x"></i></a>
                <a rel="noreferrer" target="_blank" href="https://api.whatsapp.com/send?phone=+989228482428"><i
                        class="fa fa-whatsapp fa-2x"></i></a>
            </div>
            <p class="footer-text m-0 col-md-6 col-12 font-light-footer">
                Copyright &copy; All rights reserved
                <a class="text-red" href="https://academymobileset.com" rel="noreferrer" target="_blank">Academy
                    Farda</a>
            </p>
        </div>
    </div>
</footer>