{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'base/jquery/jquery.main.js' %}"></script>
    <script src="{% static 'base/jquery/jquery.js' %}"></script>
    <script src="{% static 'base/bootstrap/js/bootstrap.min.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/leads/export/css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="print" href="{% static '/leads/export/css/print.css' %}">
    <script src="{% static 'leads/export/js/main.js' %}"></script>

    <title></title>
</head>
<body>
    <div class="container-fluid text-center mx-auto mt-3 table-responsive" id="div">
        <table class="table table-sm table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><h5>#</h5></th>
                <th scope="col"><h5>نام و نام خانوادگی</h5></th>
                <th scope="col"><h5>تلفن</h5></th>
                <th scope="col"><h5>منشاء</h5></th>
                <th scope="col"><h5>جنسیت</h5></th>
                <th scope="col"><h5>تاریخ</h5></th>
                <th scope="col"><h5>وضعیت</h5></th>
                <th scope="col"><h5>اپراتور</h5></th>
            </tr>
        </thead>
        {% if leads %}
        {% for lead in leads reversed %}
        {% if lead.register_status == 'K' %}
        <thead class="table-success table-success-hover" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
        {% elif lead.register_status == 'C'%} {# register #} 
        <thead class="table-danger table-danger-hover" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
        {% else %} {# register #} 
        <thead class="table-secondary thead-light-hover" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
        {% endif %} {# register #} 
            <tr class="bld">
                <th scope="row">{{ forloop.counter }}</th>
                <th>{{ lead.name_and_family }}</th>
                <th>{{ lead.phone_number }}</th>
                {% if lead.origin %}
                <th>{{ lead.origin }}</th>
                {% else %} {# origin #}
                <th>نامشخص</th>
                {% endif %} {# origin #}
                {% if lead.gender == 'M' %}
                <th>مرد</th>
                {% else %} {# gender #} 
                <th>زن</th> 
                {% endif %} {# gender #} 
                <th>{{ lead.led_time_jalali|date:'H:i Y-m-d' }}</th>
                {% if lead.register_status == 'K' %}
                <th>ثبت نام شده</th>
                {% elif lead.register_status == 'C'%} {# register #} 
                <th>کنسل شده</th> 
                {% else %}{# register #} 
                <th>نامشخص</th> 
                {% endif %} {# register #} 
                {% if lead.operator %}
                <th>{{ lead.operator.first_name }} {{ lead.operator.last_name }}</th>
                {% else %} {# lead.operator #}
                <th>نامشخص</th>
                {% endif %} {# lead.operator #}
            </tr>
        </thead>
        <tbody class="collapse" id="collapseExample{{ lead.id }}">
            <tr>
                <td colspan="3">درخواست</td>
                <td colspan="5" class="text-right">{{ lead.question }}</td>
            </tr>
        </tbody>
        <tbody class="collapse" id="collapseExample{{ lead.id }}">
                <tr>
                    <td colspan="3">برچسب</td>
                    <td colspan="5" class="text-left">
        {% for label in labels %}
        {% if label.post.id == lead.id %}
                    {{ label.export_show }}
        {% endif %} {# label #}
        {% endfor %} {# label #}
                </td>
                    </tr>
        </tbody class="collapse" id="collapseExample{{ lead.id }}">
        {% for comment in lead.comments.all %}
        {% if comment.approved_comment == True %}
        <tbody class="collapse" id="collapseExample{{ lead.id }}">
            <tr>
                <td colspan="4"> در تاریخ {{ comment.created_date_jalali|date:'d-m-Y' }} ساعت 
                {{ comment.created_date_jalali|date:' H:i' }}
                توسط {{ comment.author.first_name }} {{ comment.author.last_name }} </td>

                <td colspan="5" class="text-right"> {{ comment.text }} </td> 
            </tr>
        </tbody > 
        {% endif %}{# approved #} 
        {% endfor %} {# comment #}
        <tbody class="collapse" id="collapseExample{{ lead.id }}">
                <tr>
                    <td colspan="4"> نظر جدید </td>
                    <td colspan="3"><input type="text" class="form-control form-control-sm" placeholder="نظر شما"></td> 
                    <td colspan="1"><button type="submit" class="btn btn-primary btn-sm">&emsp;&emsp;ثبت&emsp;&emsp;</button></td>
                </tr>
            </tbody > 
        {% endfor %} {# leads #}
        {% else %} {# lead false #} 
        <tbody>
            <tr>
                <td colspan="8"> There is no data </td>
            </tr>
        </tbody>
        {% endif %} {# lead false #} 
        </table>
    </div>
</body>
</html>



