{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'base/jquery/jquery.main.js' %}"></script>
    <script src="{% static 'base/jquery/jquery.js' %}"></script>
    <script src="{% static 'base/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base/fontawesome-free-5.11.2/css/all.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/leads/export/css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="print" href="{% static '/leads/export/css/print.css' %}">
    <script src="{% static 'leads/export/js/main.js' %}"></script>

    <title></title>
</head>
<body>
    <div class="container-fluid text-center mx-auto mt-3">
    <p>Some Text Blurb here</p>
    <p class="pull-right"><a href="#" class="expandAll">Expand all</a> |  <a href="#" class="collapseAll">Collapse all</a></p>
    </div>
    <div class="container-fluid text-center mx-auto mt-3 table-responsive" id="div">
        {% include 'base/partials/_alerts.html' %}
        <table class="table table-sm table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><h5>#</h5></th>
                <th scope="col"><h5>نام و نام خانوادگی</h5></th>
                <th scope="col"><h5>تلفن</h5></th>
                <th scope="col"><h5>منشاء</h5></th>
                <th scope="col"><h5>جنسیت</h5></th>
                <th scope="col"><h5>تاریخ</h5></th>
                <th scope="col"><h5>وضعیت</h5></th>
                <th scope="col"><h5>اپراتور</h5></th>
                <th scope="col" class="d-print-none"><h5>تنظیمات</h5></th>
            </tr>
        </thead>
        {% if leads %}
        <thead>
            <tr class="bld d-print-none">
                <form action="{% url 'export_lead_add' %}" method="POST">
                <div class="form-group">
                {% csrf_token %}
                    <th>
                        جدید
                    </th>
                    <th>
                        <input class="form-control form-control-sm" type="text" name="name_and_family" placeholder="نام و نام خانوادگی را وارد کنید...">
                    </th>
                    <th>
                        <input class="form-control form-control-sm" type="text" name="phone_number" placeholder="شماره تلفن را وارد کنید...">
                    </th>
                    <th>
                        دیوار
                    </th>
                    <th>
                        <select class="form-control form-control-sm" id="exampleFormControlSelect1" name="gender">
                            <option>مرد</option>
                            <option>زن</option>
                        </select>
                    </th>
                    <th>
                        {{ time }}
                    </th>
                    <th>
                        <select class="form-control form-control-sm" id="exampleFormControlSelect1" name="gender">
                            <option>نامشخص</option>
                            <option>ثبت نام شده</option>
                            <option>کنسل شده</option>
                        </select>
                    </th>
                    <th>
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    </th>
                    <th class="d-print-none">
                        <button type="submit" class="btn btn-primary btn-sm ">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </div>
                </form>
            </tr>
        </thead>
        {% for lead in leads reversed %}
        {% if lead.register_status == 'K' %}
        <thead class="table-success table-success-hover" >
        {% elif lead.register_status == 'C'%} {# register #} 
        <thead class="table-danger table-danger-hover" >
        {% else %} {# register #} 
        <thead class="table-secondary thead-light-hover" >
        {% endif %} {# register #} 
                <tr class="bld">
                <th scope="row" class="collapsebuttomALL" data-toggle="collapse " href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    {{ forloop.counter }}
                </th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                <th >
                    {{ lead.name_and_family }}
                </th>
                <th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    {{ lead.phone_number }}
                </th>
                {% if lead.origin %}
                <th class="collapsebuttomALL"  data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    {{ lead.origin }}
                </th>
                {% else %} {# origin #}
                <th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    نامشخص
                </th>
                {% endif %} {# origin #}
                {% if lead.gender == 'M' %}
                <th class="collapsebuttomALL"  data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    مرد
                </th>
                {% else %} {# gender #} 
                <th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    زن
                </th> 
                {% endif %} {# gender #} 
                <th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    {{ lead.led_time_jalali|date:'H:i Y-m-d' }}
                </th>
                {% if lead.register_status == 'K' %}
                <th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    ثبت نام شده
                </th>
                {% elif lead.register_status == 'C'%} {# register #} 
                <th  class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    کنسل شده
                </th> 
                {% else %}{# register #} 
                <th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    نامشخص
                </th> 
                {% endif %} {# register #} 
                {% if lead.operator %}
                <th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    {{ lead.operator.first_name }} {{ lead.operator.last_name }}
                </th>
                {% else %} {# lead.operator #}
                <th class="collapsebuttomALL" data-toggle="collapse" href="#collapseExample{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ lead.id }}">
                    نامشخص
                </th>
                {% endif %} {# lead.operator #}
                <th class="d-print-none">
                    <button type="button" class="btn btn-primary btn-sm collapse show collapseAll expandbuttomE" id="collapsebuttom{{ lead.id }}" data-toggle="collapse" href="#collapsebuttom{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapsebuttom{{ lead.id }}">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm collapse collapsebuttom expandlabelALL" id="collapsebuttom{{ lead.id }}">
                        <i class="fa fa-times collapse show" data-toggle="collapse" href="#collapsebuttom{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapsebuttom{{ lead.id }}"></i>
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm collapse collapsebuttom" id="collapsebuttom{{ lead.id }}">
                        <i class="fas fa-check collapse show"></i>
                     </button>         
                </th>
            </tr>
        </thead>
        <tbody class="collapse collapseExample" id="collapseExample{{ lead.id }}">
            <tr>
                <td colspan="3">درخواست</td>
                <td colspan="6" class="text-right">{{ lead.question }}</td>
            </tr>
        </tbody>
        <tbody class="collapse collapsebuttom" id="collapsebuttom{{ lead.id }}">
            <tr>
                <td colspan="3">درخواست</td>
                <td colspan="6" class="text-right"><input class="form-control form-control-sm" type="text" name="question" placeholder="{{ lead.question }}"></td>
            </tr>
        </tbody>
        <tbody class="collapse collapseExample" id="collapseExample{{ lead.id }}">
                <tr>
                    <td colspan="3">برچسب</td>
                    <td colspan="6" class="text-left">
                    
        {% for label in labels %}
        {% if label.post.id == lead.id %}
                    {{ label.export_show }}
        {% endif %} {# label #}
        {% endfor %} {# label #}
                    </td>
                    
                </tr>
        </tbody>
        <tbody class="collapse collapsebuttom" id="collapsebuttom{{ lead.id }}">
                <tr>
                    <td colspan="3">برچسب</td>
                    <td colspan="6" class="text-left">
                    <div class="row">
        {% for label in labels %}
        {% if label.post.id == lead.id %}
                        <div class="col">
                        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                <option>-----</option>  
        {% for label in labels %}
                                <option>{{ label.export_show }}</option>  
        {% endfor %} {# label #}
                        </select>
                        </div> 
                        <div class="col">
                    <span class="collapse show expandlabelE" id="collapselabel{{ lead.id }}">{{ label.export_show }}</span>
                    <button type="buttom" class="btn btn-danger btn-sm collapse show expandlabelE" id="collapselabel{{ lead.id }}" data-toggle="collapse" href="#collapselabel{{ lead.id }}" role="button" aria-expanded="false" aria-controls="collapselabel{{ lead.id }}">
                        <i class="fa fa-trash"></i>
                    </button>
                        </div>
        {% endif %} {# label #}
        {% endfor %} {# label #}        
                    
                    </div>
                </tr>
        </tbody>
        {% for comment in lead.comments.all %}

        <tbody class="collapse {% if comment.approved_comment != True %} d-print-none {% endif %}{# approved #} collapseExample" id="collapseExample{{ lead.id }}">
            <tr>
                <td colspan="4"> نوشته شده در {{ comment.created_date_jalali|date:'d-m-Y' }} ساعت 
                {{ comment.created_date_jalali|date:' H:i' }}
                توسط {{ comment.author.first_name }} {{ comment.author.last_name }} </td>

                <td colspan="5" class="text-right"> {{ comment.text }} </td> 

            </tr>
        </tbody >
        <tbody class="collapse d-print-none collapsebuttom" id="collapsebuttom{{ lead.id }}">
            <tr class="collapse show expandlabelE" id="collapsecomment{{ comment.id }}">
                <td colspan="4"> نوشته شده در {{ comment.created_date_jalali|date:'d-m-Y' }} ساعت 
                {{ comment.created_date_jalali|date:' H:i' }}
                توسط {{ comment.author.first_name }} {{ comment.author.last_name }} </td>

                <td colspan="4" class="text-right"> {{ comment.text }} </td> 
                {% if comment.approved_comment == True %}
                <td class="d-print-none">
                    <button type="buttom" class="btn btn-primary btn-sm btn-comm comment_approval_toggle">
                            <i class="fa fa-comment"></i>
                    </button>
                    <button type="buttom" class="btn btn-danger btn-sm expandlabelE"  id="collapsecomment{{ comment.id }}" data-toggle="collapse" href="#collapsecomment{{ comment.id }}" role="button" aria-expanded="false" aria-controls="collapsecomment{{ lead.id }}">
                            <i class="fa fa-trash"></i>
                    
                </td>
                {% else %} {# approved #}
                <td class="d-print-none" >
                    <div class="">
                    <button type="buttom" class="btn btn-dark btn-sm btn-comm comment_approval_toggle">
                            <i class="fa fa-comment-slash"></i>
                    </button>
                    <button type="buttom" class="btn btn-danger btn-sm" id="collapsecomment{{ comment.id }}" data-toggle="collapse" href="#collapsecomment{{ comment.id }}" role="button" aria-expanded="false" aria-controls="collapsecomment{{ lead.id }}">
                            <i class="fa fa-trash"></i>
                    </button>
                    </div>
                </td>
                {% endif %} {# approved #}
            </tr>
        </tbody > 
        {% endfor %} {# comment #}
        <tbody class="collapse d-print-none collapseExample" id="collapseExample{{ lead.id }}">
                <tr>
                    <td colspan="4"> نظر جدید </td>
                    <form action="{% url 'export_comment_save' %}" method="POST">
                    {% csrf_token %}
                        <td colspan="4">
                            <input type="hidden" name="post" value="{{ lead.id }}">
                            <input name="text" type="text" class="form-control form-control-sm" placeholder="نظر شما" id="myInput{{ lead.id }}">
                        </td> 
                        <th class="d-print-none"><button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i></button></th>
                    </form>
                </tr>
            </tbody > 
        {% endfor %} {# leads #}
        {% else %} {# lead false #} 
        <tbody>
            <tr>
                <td colspan="8"> There is no data </td>
            </tr>
        </tbody>
        {% endif %} {# lead false #} 
        </table>
    </div>
</body>
</html>



