{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top m-b-color my-navbar">   
        <img src="{% static 'base/media/logo/50X50.png' %}" width="50" height="50" class="navbar-brand mr-4 ml-2 img-jello " alt="Logo">
        <span class="navbar-text d-xl-none d-lg-none d-md-none mx-auto">
                Wellcome {{ user.username }}
        </span>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% if user.is_authenticated %}
    <div class="navbar-collapse collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}  active {% endif %}">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'analysis' %}  active {% endif %}">
                <a class="nav-link" href="{% url 'analysis' %}">Analysis</a>
            </li>
        </ul>

            <span class="navbar-text d-none d-md-block mr-5">
                Wellcome {{ user.username }}
            </span>
            <a class="btn1" href="javascript:{document.getElementById('logout').submit();}"><i class="fas fa-sign-out-alt"></i> Logout </a>
            <form method="POST" action="{% url 'logout' %}" id="logout">
                    {% csrf_token %}
                    <input type="hidden">
            </form>
    </div> 
    {% else %}
    <div class="navbar-collapse collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}  active {% endif %}">
                    <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'analysis' %}  active {% endif %}">
                        <a class="nav-link" href="{% url 'analysis' %}">Classes</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'analysis' %}  active {% endif %}">
                    <a class="nav-link" href="{% url 'analysis' %}">About</a>
                </li>
            </ul>
                <a class="btn1" href="{% url 'login' %}"> login </a>
    </div>    
    {% endif %}
    </nav>
    <nav aria-label="breadcrum ">
        <ol class="breadcrumb my-navbar">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
</header>
