{% load static %}
{% load humanize %}
{% load persian_tags %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <title>رسید پیش ثبت نام دوره آموزشی تعمیرات موبایل متخصصان فردا</title>
    <meta name="description"
      content="لطفا رسید خود را چاپ کنید امکان ارائه دوباره رسید وجود ندارد.">
    <meta name="keywords"
      content="آموزش تعمیرات موبایل، بهترین آموزشگاه تعمیرات موبایل، آموزش صفر تا صد تعمیرات موبایل، آموزش تعمیرات موبایل در تهران، اموزش تعمیرات موبایل">
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#301faa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="Designer" content="Made with love by Academyfarda" />
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'base/fontawesome-free-5.11.2/css/all.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'base/media/logo/50X50.png' %}"
    />
    <link rel="stylesheet" href="{% static 'receipt/css/style.css' %}" />
    <title>{% block title %}رسید دیجیتال{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 justify-content-center">
          <div class="card">
            <h5 class="card-header  ">
              <div class="logo d-flex justify-content-center align-items-center">
                <img
                src="{% static 'base/media/logo/500X500.png' %}"
                alt="logo academyfarda"
                width="75"
                height="75"
                />
                <div class="text">
                  <h1 class="h3 mb-0">آموزشگاه متخصصان فردا</h1>
                  <h5 class="mb-0">رسید خرید دیجیتال</h5>
                </div>
              </div>
            </h5>
            <div class="card-body">
              <div class="row">
                <div class="col-6 border-l">
                  <p class="card-title">
                    اطلاعات پرداخت
                  </p>
                  <p class="card-text">
                    <span class="statics ">وضعیت:</span>
                    {% if status == 'OK' %}
                    <span class="text-success font-weight-bolder font-size-16">پرداخت با موفقیت انجام شد.</span>
                    {% elif status == 'NOK' %}
                    <span class="text-danger font-weight-bolder font-size-16">پرداخت ناموفق است و یا توسط مشتری کنسل شده.</span>
                    {% elif status == "ERROR" %}
                    <span class="text-danger font-weight-bolder font-size-16">استعلام پرداخت با ارور {{error}} مواجه شد.</span>
                    {% endif %}
                  </p>
                  <p class="card-text">
                    <span class="statics">به نام:</span>
                    <span>{{payment.customer.name}} {{payment.customer.family}}</span>
                  </p>
                  <p class="card-text">
                    <span class="statics">درگاه:</span>
                    <span>زرینپال</span>
                  </p>
                  <p class="card-text">
                    {% if status == "OK" %}
                    <span class="statics">شماره پیگیری درگاه:</span>
                    {% else %}
                    <span class="statics">شماره پیگیری سایت:</span>
                    {% endif %}
                    {% if status == "OK" %}
                    <span>{{ payment.ref_id }}</span>
                    {% else %}
                    <span>{{ payment.id|eight_digit_id|persian_numbers }}</span>
                    {% endif %}
                  </p>
                </div>
                <div class="col-6">
                  <p class="card-title">
                    اطلاعات فاکتور
                  </p>
                  <p class="card-text">
                    <span class="statics">شماره فاکتور:</span>
                    <span>{{ payment.id|eight_digit_id|persian_numbers }}</span>

                  </p>
                  <p class="card-text">
                    <span class="statics">تاریخ:</span>
                    <span>{{ payment.payed_at|jalali_date|persian_numbers }}</span>
                  </p>
                  <p class="card-text">
                    <span class="statics">زمان:</span>
                    <span>{{ payment.payed_at|jalali_time|persian_numbers }}</span>
                  </p>
                  <p class="card-text d-flex">
                    <span class="statics">چاپ:</span>
                    <button class="btn btn-info btn-sm ml-2" onClick="window.print()"><i class="fa fa-print" aria-hidden="true"></i></button>
                  </p>
                </div>
                <div class="col-12 p-4">
                  <table class="table table-striped">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">کالا یا خدمات</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">قیمت تکی</th>
                        <th scope="col">قیمت تعداد</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-secondary">
                        <th scope="row">۱</th>
                        {% for product in payment.cart.products.all %}
                          <td>پیش ثبت‌نام کلاس {{ product.alter_name }} کد {{ product.id|four_digit_id|persian_numbers }}</td>
                        {% endfor %}
                        <td>۱</td>
                        {% if payment.cart.discount_codes.get %}
                        {% for discount in payment.cart.discount_codes.all %}
                        <td><span>{{discount.amount|money_comma|persian_numbers}} تومان</span></td>
                        {% endfor %}
                        {% else %}
                        <td><span>{{payment.total|money_comma|persian_numbers}} تومان</span>
                        {% endif %}
                        <td><span >{{payment.total|money_comma|persian_numbers}} تومان</span>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-12">
                      <p class="card-text text-right mx-5">
                        <span class="statics">کل:</span>
                        <span>{{payment.total|money_comma|persian_numbers}} تومان</span>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="card-text ">
                        <span>لطفا این رسید را چاپ کنید، از آن عکس بگیرید و یا مقادیر آن را یادداشت کنید. امکان ارائه دوباره رسید وجود ندارد.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="col-1 d-flex justify-content-center align-items-center">
                  <span class="pr-2">آدرس:</span>
                </div>
                <div class="col-11">
                  <span>شعبه میدان ولیعصر: بالاتر از میدان ولیعصر، بعد از سینما استقلال، پلاک ۱۷۰۶، طبقه سوم، آموزشگاه متخصصان فردا</span><br>
                  <span>شعبه میدان انقلاب: خیابان انقلاب، رو به روی درب اصلی دانشگاه تهران، ابتدای خیابان فخر رازی، پلاک ۸۵، طبقه ۴، واحد ۱۰، آموزشگاه متخصصان فردا </span>
                </div>
              </div>
              <div class="row">
                <div class="col-1 d-flex justify-content-center align-items-center">
                  <span class="pr-2">تلفن:</span>
                </div>
                <div class="col-11">
                  <span>۰۲۱-۶۶۴۶۸۱۸۱</span>
                  <span class="">, </span>
                  <span>۰۲۱-۸۸۸۹۴۳۵۸</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
</html>
