{% load static %}
{% load persian_tags %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
  <title>ثبت ‌نام کلاس آموزش تعمیرات موبایل</title>
  <meta name="description"
    content="آموزش صفر تا صد تعمیرات موبایل به صورت تخصصی در قدیمی ترین و تنها آموزشگاه رتبه یک در کشور با استفاده از جدید ترین متد‌ها و مبتنی بر بازار کار">
  <meta name="keywords"
    content="آموزش تعمیرات موبایل، بهترین آموزشگاه تعمیرات موبایل، آموزش صفر تا صد تعمیرات موبایل، آموزش تعمیرات موبایل در تهران، اموزش تعمیرات موبایل">
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#301faa" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
  <meta name="Designer" content="Made with love by dornaweb, UI design by ivahid.com and Academyfarda" />
  <!-- End Loading Script -->
  <link rel="shortcut icon" href="{% static 'landing/images/50X50.png' %}" />
  <link rel="stylesheet" href="{% static 'landing/css/loading.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'landing/css/style.css' %}" />
  <!-- End Loading Script -->
</head>

<body class="home">
  <div id="loading2" class="force-hide">
    <img src="{% static 'landing/svg/ball-triangle.svg' %}" width="200" alt="loading..." />
  </div>
  <div id="serverconnectionerror" class="alert alert-danger text-center fade hide" role="alert">
    <span>ارتباط با سرور ممکن نیست....</span>
  </div>
  <div id="serverconnectionreconnect" class="alert alert-success text-center fade hide" role="alert">
    <span>ارتباط برقرار شد</span>
  </div>
  <div class="site-wrap" id="site_wrap">
    <!------------------------------- End Connection error ----------------------------------->
    <!-------------------------------start-header----------------------------------->
    <header class="site-header verify">
      <div class="head-item container d-flex justify-content-center justify-content-sm-between">
        <a class="col-12 col-sm-9 px-0" href="https://academymobileset.com/home-en">
          <div class="site-logo d-flex align-items-center justify-content-center justify-content-sm-start">
            <div class="row">
              <div class="row pt-2 mb-0">
                <div class="col-4 px-0">
                  <img src="{% static 'landing/images/500X500.png' %}" alt="آموزش تعمیرات موبایل" />
                </div>
                <div class="col-8 pt-2 my-auto px-0">
                  <div class="col-12 col-sm-12 px-0">
                    <h1 class="h6 mb-0">آموزش تعمیرات موبایل</h1>
                  </div>
                  <div class="col-12 col-sm-12 px-0">
                    <h1 class="h2 text-nowarp mb-0">متخصصان فردا</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="col-3 left-top-header justify-content-end align-items-center d-none d-sm-flex px-0">
          <div class="phone-number d-flex">
            <a href="tel:+982188937172">
              <h4 class="mb-0">
                <span>۰۲۱-۸۸۹۳۷۱۷۲</span>
              </h4>
            </a>
            <i class="fa fa-2x fa-phone fa-white" aria-hidden="true"></i>
          </div>
          <!--phone-number-->
        </div>
        <!--left-top-header-->
      </div>
      <div class="bg-header"></div>
    </header>
    <!-------------------------------end(header)------------------------->
    <section class="main-product">
      <div class="container">
        <div class="product-wrap">
          <h2 class="title-product">تایید و پرداخت</h2>
          <div class="row pt-3 pb-2 product-wrap">
            <h5 class="title-product col-12">مشخصات فردی</h3>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">نام:</h5>
              <h6>{{ payment.student.personal_info.name}}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1">
              <h5 class="text-darkblue pl-1">نام خانوادگی:</h5>
              <h6>{{ payment.student.personal_info.family}}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1">
              <h5 class="text-darkblue pl-1">جنسیت:</h5>
              <h6>{% if payment.student.personal_info.gender == "M" %} مرد {% elif payment.student.personal_info.gender == "F" %} زن {% else %}  {% endif %}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1">
              <h5 class="text-darkblue pl-1">نام پدر:</h5>
              <h6>{{ payment.student.personal_info.father_name}}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1">
              <h5 class="text-darkblue pl-1">شماره ملی:</h5>
              <h6>{{ payment.student.personal_info.code_meli|persian_numbers}}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1">
              <h5 class="text-darkblue pl-1">شماره تماس:</h5>
              <h6>{{ payment.student.personal_info.phone_number|persian_numbers}}</h5>
            </div>
            <div class="col-12 d-flex align-items-center py-1">
              <h5 class="text-darkblue pl-1">آدرس:</h5>
              <h6>{{ payment.student.personal_info.address}}</h5>
            </div>
            <h5 class="title-product col-12 pt-4">دوره انتخابی</h3>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">کد دوره:</h5>
              <h6>{{ payment.cart.courses.get.id|four_digit_id|persian_numbers}}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">نام دوره:</h5>
              <h6>{{ payment.cart.courses.get.alter_name}}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">شروع دوره:</h5>
              <h6>حدوداً {{ payment.cart.courses.get.start_date|date:"Y-m-d"|weeks_date_to_string}}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">محل برگزاری دوره:</h5>
              <h6>{% if payment.cart.courses.get.location == "V" %} شعبه ولیعصر
                {% elif payment.cart.courses.get.location == "E" %} شعبه انقلاب {% else %} نا‌مشخص {% endif %}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">روز‌های کلاس:</h5>
              <h6>{{ payment.cart.courses.get.days.name}}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">طول دوره:</h5>
              <h6>{{ payment.cart.courses.get.course_type.duration_text}} ({{ payment.cart.courses.get.course_type.duration|persian_numbers}}
               ساعت)</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">استاد دوره:</h5>
              <h6>{{ payment.cart.courses.get.teacher.personal_info.name }} {{ payment.cart.courses.get.teacher.personal_info.family }}</h5>
            </div>
            <h5 class="title-product col-12 pt-4">پرداخت</h3>
            <form class="col-12 px-0 pb-3">
              <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-center align-content-center">
                  <input 
                    id="input-discount-code" 
                    name="discount_code" 
                    class="form-control redplaceholder mx-2" 
                    type="text" 
                    placeholder="کد تخفیف" 
                    pattern="^.+$"
                    oninvalid="setCustomValidity('فرمت وارد شده صحیح نیست. ')"
                    onchange="try{setCustomValidity('')}catch(e){}"
                    required
                  />
                  <button id="check_discount" class="btn btn-orange mx-2">
                    اعمال کد
                  </button>
                </div>
              </div>
            </form>
            <div class="discount-status col-12 d-flex justify-content-center pb-4">
              <span id="discount-success" class="green hide">کد تخفیف با موفقیت اعمال شد.</span>
              <span id="discount-unsuccess" class="red hide">کد تخفیف اشتباه است.</span>
              <span id="discount-delete-success" class="orange hide">کد تخفیف با موفقیت حذف شد.</span>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">شهریه دوره:</h5>
              <h6 >  <span class="linethrough px-1">{{ payment.cart.courses.get.price_showoff|money_comma|persian_numbers }}</span class="fw-900"> {{ total|money_comma|persian_numbers }} <span class="text-muted pr-1"> تومان</span></h6>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">پیش پرداخت:</h5>
              <h6>{{ prepayment|money_comma|persian_numbers }} <span class="text-muted pr-1"> تومان</span></h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">نوع پرداخت:</h5>
              <h6>{% if payment.cart.installment == True %} اقساطی {% else %} نقدی {% endif %}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">تخفیف نوع پرداخت:</h5>
              <h6>{% if payment.cart.installment == True %} ۰ {% else %} {{ payment.cart.courses.get.discount_cash_payment_amount|money_comma|persian_numbers }} <span class="text-muted pr-1"> تومان</span> {% endif %}</h5>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">کد تخفیف:</h5>
              <h6 id="discount_code">{% if payment.cart.discount_code %} {{ payment.cart.discount_code.code }} {% else %} - {% endif %}</h5>
            </div> 
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">تخفیف کد:</h5>
              <h6 id="discount_amount">{% if payment.cart.discount_code %} {{ payment.cart.discount_code.amount|money_comma|persian_numbers }} <span class="text-muted pr-1"> تومان</span> {% else %} ۰ {% endif %}</h5>
            </div> 
            <script>
              var discount_state = "{% if state %}{{state}}{% else %}N{% endif %}"
              var code = "{{ payment.cart.discount_code.code }}"
              var amount = "{{ payment.cart.discount_code.amount|money_comma|persian_numbers }}"
            </script>
            {% if payment.cart.installment == True %}
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">قسط اول (جلسه اول):</h5>
              <h6> {{ installment1|money_comma|persian_numbers }} <span class="text-muted pr-1"> تومان</span></h5>
            </div>
            {% else %}
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">مابقی شهریه (جلسه اول):</h5>
              <h6> {{ pay|money_comma|persian_numbers }} <span class="text-muted pr-1"> تومان</span></h5>
            </div>
            {% endif %}
            {% if payment.cart.installment == True %}
            <div class="col-12 col-lg-6 d-flex align-items-center py-1 ">
              <h5 class="text-darkblue pl-1">قسط دوم (جلسه ۱۳ ام):</h5>
              <h6> {{ installment2|money_comma|persian_numbers }}<span class="text-muted pr-1"> تومان</span> </h5>
            </div>
            {% endif %}
            <div class="col-12 d-flex align-items-center py-3 border-top">
              <h4 class="text-red fw-900 pl-1">قابل پرداخت:</h4>
              <h5 class="text-black">{{ prepayment|money_comma|persian_numbers }} <span> تومان</span></h5>
            </div>
          </div>
          <div class="mt-3 mb-4 pt-4">
            <h6 class="form-warning">
              تنها با 150 هزار تومان به عنوان پیش پرداخت کلاس را رزرو می‌کنید.
            </h6>
            <h6 class="form-warning">
              {% if payment.cart.installment == False %}
              باقی شهریه باید در جلسه اول قبل از شروع کلاس پرداخت گردد.
              {% else %}
              قسط اول را باید در جلسه اول قبل از شروع کلاس و قسط دوم را باید قبل از جلسه ۱۳ ام دوره کامل کنید.
              {% endif %}
            </h6>
            <h6 class="form-warning">
              کلاس به صورت حضوری در شعبه ولیعصر و یا انقلاب تشکیل خواهد شد.
            </h6>
            <h6 class="form-warning">
              مراحل بعدی به جهت شرکت در کلاس در تماس بعدی کارشناسان با شما
              اعلام خواهد شد.
            </h6>
            <h6 class="form-warning">
              تاریخ شروع کلاس دقیق نیست! و نزدیک‌ترین دوره به کلاس انتخاب شده توسط
              شما می‌باشد.
            </h6>
            <h6 class="form-warning">
              تخفیف های " کمیته امداد " و " بهزیستی " و " خانه کارگر " و " ایثارگران " و " فرهنگیان " و " کادر درمان "
              پس از
              تایید کارشناس اعمال خواهد شد.
            </h6>
            <h6 class="form-warning">
              هزینه رزرو دوره غیر قابل استرداد می‌باشد.
            </h6>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-4"></div>
            <div class="col-md-4 col-lg-2 col-sm-6 col-12 pb-2">
              <a href="/landing/common/" class="btn btn-secondary">بازگشت</a>
            </div>
            <div class="col-md-4 col-lg-2 col-sm-6 col-12 pb-2">
              <a id="send_sms_validator" class="btn btn-red">تایید</a>
            </div>
            <div class="col-md-2 col-lg-4"></div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------END main Section--------------------------->
    <div class="spacer-004"></div>
    <!-------------------Spacer ------------------------------------>
    <!--------------------------- Toasts Start ------------------------------>
    <!-- Flexbox container for aligning the toasts -->
    <div class="toasts" aria-live="alert" aria-atomic="true" class="d-flex justify-content-center align-items-center">
      <!-- Then put toasts within -->
      <div id="toast" class="col-12 px-0 toast fade hide" role="alert" aria-live="assertive" aria-atomic="true"
        data-delay="15000">
        <div class="toast-header">
          <strong id="toast-header" class="ml-auto">خطا</strong>
          <button type="button" class="close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="toast-body" class="toast-body">
          توضیحات خطا توضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات
          خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات
          خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطاتوضیحات خطا
        </div>
      </div>
    </div>
    <!--------------------------- Toasts end ------------------------------>
    <!-- start footer Area -->
    <footer id="footer2" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h3 class="h5">
                متخصصان فردا
                <i id="discount-ans-b" class="fa fa-heart text-red"></i>
              </h3>
              <ul>
                <li>
                  <a href="https://academymobileset.com/home-en"><i class="fa fa-home link-home pl-2"></i>خانه</a>
                </li>
                <li>
                  <a href="https://academymobileset.com/notifications/experts.html">اطلاعیه‌ها</a>
                </li>
                <li>
                  <a href="https://academymobileset.com/test-scores/motekhasesan.html">نتایج آزمون</a>
                </li>
                <li>
                  <a href="https://academymobileset.com/about-us-2.html">درباره ما</a>
                </li>
                <li>
                  <a href="https://academymobileset.com/post-formats/courses.html">دوره های ما</a>
                </li>
                <li>
                  <a href="https://academymobileset.com/contact-us.html">تماس با ما</a>
                </li>
                <li>
                  <a rel="noreferrer" target="_blank"
                    href="{% static 'landing/files/ghavaninesiteacademymobileset.com990620.pdf' %}">قوانین و
                    مقررات</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h3 class="h5">لینک های سریع</h3>
              <ul>
                <li><a target="_blank" href="/landing/common/#topics">سرفصل ها</a></li>
                <li><a target="_blank" href="/landing/common/#payment">شرایط و هزینه ها</a></li>
                <li><a target="_blank" href="/landing/common/#license-course">گواهی نامه</a></li>
                <li><a target="_blank" href="/landing/common/#teachers">اساتید</a></li>
                <li><a target="_blank" href="/landing/common/#albums">پشتیبانی پس از دوره</a></li>
                <li><a target="_blank" href="/landing/common/#CQs">سوالات متداول</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h3 class="h5">ثبت‌نام و مشاوره</h3>
              <ul>
                <li>
                  <a href="#nothing" data-toggle="modal" data-target="#exampleModal002">ثبت‌نام</a>
                </li>
                <li>
                  <a href="#nothing" class="go-to-consult-form" data-toggle="modal"
                    data-target="#exampleModal003">مشاوره رایگان</a>
                </li>
                <li>
                  <a href="#nothing" class="go-to-consult-form-1fs" data-toggle="modal"
                    data-target="#exampleModal003">یک
                    جلسه رایگان</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h3 class="h5">نماد الکترونیکی</h3>
              <p style="font-weight: 600">E-Namaad</p>
            </div>
          </div>
          <div class="col-lg-4 col-12 pl-4">
            <div class="single-footer-widget">
              <h3 class="h5">تماس با ما</h3>
              <ul>
                <li class="mb-3 d-flex align-items-center border-bottom font-light-footer">
                  <div class="col-1 p-0 mb-2 text-center">
                    <i class="fa fa-map-marker text-red fa-2x"></i>
                  </div>
                  <div class="col-11 pl-0">
                    <div class="d-flex justify-content-between">
                      <p class="text-nowrap pl-2">شعبه انقلاب:</p>
                      <p class="mb-2 text-justify">
                        خیابان انقلاب، رو به روی درب اصلی دانشگاه تهران، ابتدای
                        خیابان فخر رازی، پلاک ۸۵، طبقه چهارم، واحد ۱۰
                      </p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="text-nowrap pl-2">شعبه ولیعصر:</p>
                      <p class="mb-2 text-justify">
                        بالاتر از میدان ولیعصر، جنب سینمای استقلال، پلاک ۱۷۰۶،
                        طبقه سوم
                      </p>
                    </div>
                  </div>
                </li>
                <li class="mb-1 d-flex align-items-center border-bottom font-light-footer">
                  <div class="col-1 p-0 mb-2 text-center">
                    <i class="fa fa-phone text-red fa-2x"></i>
                  </div>
                  <div class="col-11 pl-0">
                    <div class="d-flex justify-content-between">
                      <p>شعبه انقلاب:</p>
                      <p class="mb-2">۰۲۱-۶۶۴۱۷۰۷۳</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p>شعبه ولیعصر:</p>
                      <p class="mb-2">۰۲۱-۸۸۸۹۴۳۵۸</p>
                    </div>
                  </div>
                </li>
                <li class="mb-1 d-flex align-items-center font-light-footer py-3">
                  <div class="col-1 p-0 mb-2 text-center">
                    <i class="fa fa-envelope text-red fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="col-11 pl-0">
                    <div class="d-flex justify-content-between">
                      <p>ایمیل:</p>
                      <p class="mb-2">academyfarda2@gmail.com</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom row align-items-center justify-content-between mb-5 mb-lg-0 ltr">
          <div class="col-md-6 col-12 footer-social">
            <a href="https://academymobileset.com/home-en"><i class="fa fa-home link-home fa-2x"></i></a>
            <a rel="noreferrer" target="_blank" href="https://t.me/experts_farda"><i
                class="fa fa-telegram fa-2x"></i></a>
            <a rel="noreferrer" target="_blank" href="https://instagram.com/academy.farda"><i
                class="fa fa-instagram fa-2x"></i></a>
            <a rel="noreferrer" target="_blank" href="https://api.whatsapp.com/send?phone=+989228482428"><i
                class="fa fa-whatsapp fa-2x"></i></a>
          </div>
          <p class="footer-text m-0 col-md-6 col-12 font-light-footer">
            Copyright &copy; All rights reserved
            <a class="text-red" href="https://academymobileset.com" rel="noreferrer" target="_blank">Academy
              Farda</a>
          </p>
        </div>
      </div>
    </footer>
    <!-- End footer Area -->
    <!------------------------END Footer-------------------->
    <div class="modal fade" id="exampleModal001" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">احراز هویت</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-3">
            <span class="">کد تایید به شماره شما ارسال شد.</span>
            <div class="form-wrapper my-3">
              <form class="form-row d-flex justify-content-center align-items-center" id="form">
                <input 
                id="token" 
                name="token"
                class="col-md-6 mx-auto ltr"
                type="number" 
                onKeyPress="if(this.value.length==6) return false;"
                pattern="\d{6}"
                placeholder="XXXXXX"
                autocomplete="off" 
                required
                >
                <div class="col-12 mx-auto justify-content-center text-center">
                  <span id="wrong-code" class="hide" style="color: red">کد وارد شده اشتباه است.</span>
                </div>
                <button id="submit_code" class="btn btn-red text-center my-3" type="submit">اعمال کد</button>
              </form>
            </div>
            <div class="row justify-content-center">
              <h6 id="timer">
                <span id="timeleft"></span>
                <span>ثانیه تا ارسال دوباره کد</span>
              </h6>
              <a id="resend-btn" class="" href="">ارسال دوباره کد</a>
            </div>
          </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-----------------------END Modal------------------------------------>
  </div>
  <!--site-wrap-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-tokenfield@0.12.0/dist/bootstrap-tokenfield.min.js"></script>
  <script src="{% static 'landing/js/main-verify.js' %}"></script>
</body>

</html>