{% load static %}
{% load persian_tags %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <title>ثبت ‌نام کلاس آموزش تعمیرات موبایل</title>
    <meta name="description"
    content="آموزش صفر تا صد تعمیرات موبایل به صورت تخصصی در قدیمی ترین و تنها آموزشگاه رتبه یک در کشور با استفاده از جدید ترین متد‌ها و مبتنی بر بازار کار">
  <meta name="keywords"
    content="آموزش تعمیرات موبایل، بهترین آموزشگاه تعمیرات موبایل، آموزش صفر تا صد تعمیرات موبایل، آموزش تعمیرات موبایل در تهران، اموزش تعمیرات موبایل">
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#301faa" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
  <meta name="Designer" content="Made with love by dornaweb, UI design by ivahid.com and Academyfarda" />
  <!-- End Loading Script -->
  <link rel="shortcut icon" href="{% static 'landing/images/50X50.png' %}" />
  <link rel="stylesheet" href="{% static 'landing/css/loading.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'landing/css/style.css' %}" />
    <!-- End Loading Script -->
  </head>

  <body class="home">
    <div id="loading2" class="force-hide">
      <img src="assets/svg/ball-triangle.svg" width="200" alt="loading..." />
    </div>
    <div
      id="serverconnectionerror"
      class="alert alert-danger text-center fade hide"
      role="alert"
    >
      <span
        >ارتباط با سرور ممکن نیست....</span
      >
    </div>
    <div
      id="serverconnectionreconnect"
      class="alert alert-success text-center fade hide"
      role="alert"
    >
      <span>ارتباط برقرار شد</span>
    </div>
    <div class="site-wrap" id="site_wrap">
      <!------------------------------- End Connection error ----------------------------------->
      <!-------------------------------start-header----------------------------------->
      <header class="site-header site-header-200px">
        <div class="head-item container grid-row">
          <a href="https://academymobileset.com/home-en">
            <h1
              class="site-logo d-flex align-items-center justify-content-center pt-2"
            >
              <img
                src="assets/images/500X500.png"
                alt="logo"
                width="80"
                height="80"
              />
              <span class="text-nowarp">متخصصان فردا</span>
            </h1>
          </a>

          <div class="left-top-header grid-row center-md">
            <div class="phone-number hidden-xs">
              <a href="tel:+982188937172">
                <h5><span class="text">۰۲۱-۸۸۹۳۷۱۷۲</span></h5>
              </a>
              <svg class="icon phone-icon" viewBox="0 0 23 22">
                <path
                  fill="#fff"
                  d="M22.081 17.159l-3.355-3.356c-.668-.665-1.774-.645-2.466.047l-1.69 1.69-.334-.186c-1.067-.591-2.528-1.402-4.065-2.94-1.542-1.542-2.353-3.005-2.947-4.073a26.537 26.537 0 0 0-.181-.326l1.134-1.133.558-.558c.692-.693.711-1.799.045-2.467L5.425.502C4.758-.165 3.65-.145 2.958.548l-.945.951.026.026a5.468 5.468 0 0 0-.78 1.374 5.698 5.698 0 0 0-.346 1.394c-.443 3.673 1.235 7.03 5.79 11.584 6.296 6.295 11.37 5.82 11.588 5.796.477-.057.934-.17 1.398-.35a5.45 5.45 0 0 0 1.37-.777l.02.019.958-.938c.69-.693.71-1.8.044-2.468z"
                ></path>
              </svg>
            </div>
            <!--phone-number-->
          </div>
          <!--left-top-header-->
        </div>
        <!--head-item-->

        <div class="header-body container grid-row"></div>
        <!--header-body-->
        <div class="bg-header2"></div>
      </header>
      <!-------------------------------end(header)------------------------->
      <section class="main-product">
        <div class="container">
          <div class="product-wrap">
            <h2 class="title-product">تایید مشخصات</h2>
            <div class="mb-4">
              <h4 class="form-warning">
                تنها با 150 هزار تومان به عنوان پیش پرداخت کلاس را رزرو می‌کنید.
              </h4>
              <h4 class="form-warning">
                کلاس به صورت حضوری در شعبه ولیعصر یا انقلاب تشکیل خواهد شد.
              </h4>
              <h4 class="form-warning">
                مراحل بعدی به جهت شرکت در کلاس در تماس بعدی کارشناسان با شما
                اعلام خواهد شد.
              </h4>
              <h4 class="form-warning">
                تاریخ شروع کلاس، نزدیک‌ترین دوره در "زمان کلاس" انتخاب شده توسط
                شما می‌باشد.
              </h4>
              <h4 class="form-warning">
                هزینه رزرو کلاس غیر قابل استرداد می‌باشد و کارآموز تنها می‌تواند
                تاریخ شروع کلاس، زمان کلاس، شعبه و یا نحوه پرداخت را تغییر دهد.
              </h4>
            </div>
            <table
              class="table table-dark table-bordered table-hover mt-3 mb-5"
            >
              <tbody class="bg-primary">
                <tr>
                  <th class="text-nowarp spacer-007">نام</th>
                  <td class="text-right pr-3 font-verify" id="name"></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007">نام خانوادگی</th>
                  <td class="text-right pr-3 font-verify" id="family"></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007">جنسیت</th>
                  <td class="text-right pr-3 font-verify" id="gender"></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007">نام پدر</th>
                  <td class="text-right pr-3 font-verify" id="father_name"></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007">کد ملی</th>
                  <td class="text-right pr-3 font-verify" id="code_meli"></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007">شماره تماس</th>
                  <td class="text-right pr-3 font-verify" id="phone"></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007">آدرس</th>
                  <td class="text-right pr-3 font-verify" id="address"></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007">زمان کلاس</th>
                  <td class="text-right pr-3 font-verify" id="class_time"></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007">نوع پرداخت</th>
                  <td
                    class="text-right pr-3 font-verify"
                    id="payment_type"
                  ></td>
                </tr>
                <tr>
                  <th class="text-nowarp spacer-007 thred">قابل پرداخت</th>
                  <td class="text-right pr-3 font-verify">
                    <div class="d-flex">
                      <div id="course_total" class="pl-3">
                        <span id="total"></span><span> تومان </span>
                      </div>
                      <div id="discount_total" class="hide">
                        <span id="total2"></span><span> تومان </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <a
              href=""
              id="open-discount"
              data-toggle="modal"
              data-target="#exampleModal002"
              >اگر کد تخفیف دارید اینجا کلیک کنید.</a
            >

            <div class="row">
              <div class="col-md-2 col-lg-4"></div>
              <div class="col-md-4 col-lg-2 col-sm-6 col-12 pb-2">
                <a id="back" class="btn btn-secondary">بازگشت</a>
              </div>
              <div class="col-md-4 col-lg-2 col-sm-6 col-12 pb-2">
                <a id="send_sms_validator" class="btn btn-red">تایید مشخصات</a>
              </div>
              <div class="col-md-2 col-lg-4"></div>
            </div>
          </div>
        </div>
      </section>
      <!-------------------END main Section--------------------------->
      <div class="spacer-004"></div>
      <!-------------------Spacer ------------------------------------>
      <!-- start footer Area -->
      {% include 'landing/partials/_footer.html' %}
      <!-- End footer Area -->
      <!------------------------END Footer-------------------->
      <div
        class="modal fade"
        id="exampleModal001"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">احراز هویت</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span class="">کد تایید به شماره شما ارسال شد.</span>
              <div class="d-flex justify-content-center py-4">
                <div id="wrapper">
                  <form class="ltr" id="form">
                    <input
                      id="num1"
                      type="number"
                      maxlength="1"
                      size="1"
                      min="0"
                      max="9"
                      pattern="[0-9]{1}"
                    />
                    <input
                      id="num2"
                      type="number"
                      maxlength="1"
                      size="1"
                      min="0"
                      max="9"
                      pattern="[0-9]{1}"
                    />
                    <input
                      class="mr-3"
                      id="num3"
                      type="number"
                      maxlength="1"
                      size="1"
                      min="0"
                      max="9"
                      pattern="[0-9]{1}"
                    />
                    <input
                      class="ml-3"
                      id="num4"
                      type="number"
                      maxlength="1"
                      size="1"
                      min="0"
                      max="9"
                      pattern="[0-9]{1}"
                    />
                    <input
                      id="num5"
                      type="number"
                      maxlength="1"
                      size="1"
                      min="0"
                      max="9"
                      pattern="[0-9]{1}"
                    />
                    <input
                      id="num6"
                      type="number"
                      maxlength="1"
                      size="1"
                      min="0"
                      max="9"
                      pattern="[0-9]{1}"
                    />
                  </form>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center py-2">
                <button id="submit_code" class="btn btn-red text-center">اعمال کد</button>
              </div>
              
              <div class="row justify-content-center">
                <span id="wrong-code" class="hide" style="color: red"
                  >کد وارد شده اشتباه است.</span
                >
              </div>
              <div id="aaa"></div>
              <div class="row justify-content-center">
                <h3 id="timer">
                  <span id="timeleft"></span>
                  <span>ثانیه تا ارسال دوباره کد</span>
                </h3>
                <a id="resend-btn" class="" href="">ارسال دوباره کد</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="exampleModal002"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel002"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel002">کد تخفیف</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="pb-5 mb-5 pt-3" id="form-discount">
                <div class="row justify-content-center">
                  <h4 class="text-center my-3">
                    اگر کد تخفیف دارید میتوانید در کادر زیر وارد کنید.
                  </h4>
                </div>
                <div class="row justify-content-center">
                  <div
                    class="col-8 d-flex justify-content-center align-content-center"
                  >
                    <input
                      id="input-discount"
                      class="form-control mx-2"
                      type="text"
                    />
                    <button id="check_discount" class="btn btn-orange mx-2">
                      اعمال کد
                    </button>
                    <button
                      id="remove_discount"
                      class="btn btn-danger mx-1 force-hide"
                    >
                      X
                    </button>
                  </div>
                </div>
                <div class="row d-flex justify-content-center pt-3">
                  <h3 id="discount-ans-g" class="hide">
                    کد تخفیف <span id="discount-code"></span> اعمال شد.
                  </h3>
                  <h3 id="discount-ans-b" class="hide">
                    کد تخفیف اشتباه است یا تاریخ آن گذشته.
                  </h3>
                  <h3 id="discount-ans-r" class="hide">کد تخفیف حذف شد.</h3>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------END Modal------------------------------------>
    </div>
    <!--site-wrap-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'landing/js/main-verify.js' %}"></script>
  </body>
</html>
