flip( direction = 'horizental' )
  if( direction == 'horizental' )
    -ms-filter "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)"
    transform scale(-1, 1)
  else
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"
    transform scale(1, -1)
